<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - List Jobs</title>
  <style>
        section{

        }
    </style>
</head>
<body>
<section>
  <!-- Dashboard Headline -->
  <div class="dashboard-headline">
    <h3>Manage Jobs</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li>Manage Jobs</li>
      </ul>
    </nav>
  </div>

  <!-- Row -->
  <div class="row">

    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-assignment"></i> My Jobs</h3>
        </div>

        <div class="content">
          <ul class="dashboard-box-list" th:if="${!jobs.empty}">
            <li th:each="job: ${jobs}">
              <!-- Job Listing -->
              <div class="job-listing width-adjustment">

                <!-- Job Listing Details -->
                <div class="job-listing-details">

                  <!-- Details -->
                  <div class="job-listing-description">
                    <h3 class="job-listing-title"><a href="#" th:text="${job.shortDescription}"></a></h3>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                      <ul>
                        <li><i class="icon-material-outline-access-time"></i><span th:text="|Posted on ${#temporals.format(job.createdAt, 'dd MMMM, yyyy')}|"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Task Details -->
              <ul class="dashboard-task-info">
                <li><strong>3</strong><span>Bids</span></li>
                <li><strong>$22</strong><span>Avg. Bid</span></li>
                <li>
                  <strong th:text="|&#8358;${job.budgetMinimum} - &#8358;${job.budgetMaximum}|"></strong>
                  <span th:if="${job.jobType == T(com.fixit.web.enums.JobType).LUMP_SUM.id}" th:text="|Lump Sum|"></span>
                  <span th:if="${job.jobType == T(com.fixit.web.enums.JobType).HOURLY.id}" th:text="|Hourly Rate|"></span>
                </li>
              </ul>

              <!-- Buttons -->
              <div class="buttons-to-right always-visible">
                <a href="dashboard-manage-bidders.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Bidders <span class="button-info">3</span></a>
                <a th:href="@{/jobs/edit/{id}(id=${job.id})}" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                <a th:href="@{/jobs/delete/{id}(id=${job.id})}" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top" onclick="if(!confirm('Are you sure you want to delete this job?')) event.preventDefault()"><i class="icon-feather-trash-2"></i></a>
              </div>
            </li>
          </ul>
          <div class="notify-box margin-top-15 headline" th:if="${jobs.empty}">
            <div class="switch-container">
              <span class="switch-text">No Jobs available</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Row / End -->

</section>
</body>
</html>