<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{::script}, ~{::link})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - List Jobs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"/>
  <style>
        .complete-job {
          display: inline;
        }
        .complete-job button{
          float: left;
        }
    </style>
</head>
<body>
<section>
  <!-- Dashboard Headline -->
  <div class="dashboard-headline">
    <h3>Manage Jobs</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li>Manage Jobs</li>
      </ul>
    </nav>
  </div>

  <!-- Row -->
  <div class="row">

    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-assignment"></i> My Jobs</h3>
        </div>

        <div class="content">
          <ul class="dashboard-box-list" th:if="${!jobs.empty}">
            <li th:each="job: ${jobs}">

              <!-- Job Listing -->
              <div class="job-listing width-adjustment">

                <!-- Job Listing Details -->
                <div class="job-listing-details">

                  <!-- Details -->
                  <div class="job-listing-description">
                    <h3 class="job-listing-title"><a href="#" th:text="${job.shortDescription}"></a></h3>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                      <ul>
                        <li><i class="icon-material-outline-access-time"></i><span th:text="|Posted on ${#temporals.format(job.createdAt, 'dd MMMM, yyyy')}|"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Task Details -->
              <ul class="dashboard-task-info">
                <li><strong th:text="${#lists.size(job.bids)}"></strong><span>Bids</span></li>
                <li><strong th:text="|&#8358;|" id="average-rate">$22</strong><span>Avg. Bid</span></li>
                <li>
                  <strong th:text="|&#8358;${#numbers.formatDecimal(job.budgetMinimum, 1,'COMMA',0,'POINT')} - &#8358;${#numbers.formatDecimal(job.budgetMaximum, 1,'COMMA',0,'POINT')}|"></strong>
                  <span th:if="${job.jobType == T(com.fixit.web.enums.JobType).LUMP_SUM.id}" th:text="|Lump Sum|"></span>
                  <span th:if="${job.jobType == T(com.fixit.web.enums.JobType).HOURLY.id}" th:text="|Hourly Rate|"></span>
                </li>
              </ul>

              <!-- Buttons -->
              <div class="buttons-to-right always-visible">
                <a th:if="${!job.bids.empty}" th:href="@{/bids/job/{id}(id=${job.id})}" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Bidders <span class="button-info" th:text="${#lists.size(job.bids)}">3</span></a>
                <a th:if="${job.bids.empty}" href="#" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> No Bidders Yet <span class="button-info" th:text="${#lists.size(job.bids)}">3</span></a>
                <form class="complete-job" th:if="${!job.completed AND #lists.size(job.bids) > 0}" method="post" th:action="@{/jobs/complete}">
                  <input type="hidden" name="id" th:value="${job.id}" />
                  <button class="button ripple-effect complete-job-button"><i class="icon-material-outline-supervisor-account"></i> Mark as completed</button>
                </form>
                <form class="complete-job" th:if="${job.completed AND #lists.size(job.bids) > 0 }">
                  <button class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Submit Review </button>
                </form>
                <a th:href="@{/jobs/{id}(id=${job.id})}" class="button gray ripple-effect ico" title="View" data-tippy-placement="top"><i class="icon-feather-file"></i></a>
                <a th:href="@{/jobs/edit/{id}(id=${job.id})}" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                <a th:href="@{/jobs/delete/{id}(id=${job.id})}" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top" onclick="if(!confirm('Are you sure you want to delete this job?')) event.preventDefault()"><i class="icon-feather-trash-2"></i></a>
              </div>
            </li>
          </ul>
          <div class="notify-box margin-top-15 headline" th:if="${jobs.empty}">
            <div class="switch-container">
              <span class="switch-text">No Jobs available</span></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Row / End -->

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
  $(document).ready(function(){

    $('.complete-job-button').on('click', function(evt) {
    evt.preventDefault();
    $.confirm({
      title: 'Mark Job as Complete',
      content: 'I certify that this job has been completed',
      buttons: {
          confirm: function () {
              $(evt.target).parent().submit();
              //$.alert('Confirmed!');
          },
          cancel: function () {
              //$.alert('Canceled!');
          }
      }
  });
  })

  })
</script>
</body>
</html>