<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/site_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Search</title>
    <style>

    </style>
    <script>
        $(document).ready(function(){
            alert()
        })
    </script>
</head>
<body>
<section>
    <!-- Spacer -->
    <div class="margin-top-90"></div>
    <!-- Spacer / End-->

    <!-- Page Content
================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">
                    <form method="get" th:object="${search}" th:action="@{/profiles/search}">
                        <!-- Location -->
                        <div class="sidebar-widget">
                            <h3>Location</h3>
                            <select th:field="*{state}" class="selectpicker default" data-selected-text-format="count" data-size="7" title="Select State" required>
                                <option th:each="state: ${states}" th:value="${state.id}" th:text="${#strings.capitalize(state.name)}"></option>
                            </select>
                        </div>

                        <!-- Category -->
                        <div class="sidebar-widget">
                            <h3>Category</h3>
                            <select th:field="*{craft}" class="selectpicker default" data-selected-text-format="count" data-size="7" title="Select Category" required>
                                <option th:each="craft: ${crafts}" th:value="${craft.id}" th:text="${#strings.capitalize(#strings.toLowerCase(craft.name))}"></option>
                            </select>
                        </div>
                        <div class="sidebar-widget">
                            <button class="button button-sliding-icon ripple-effect text-danger col-xl-12" style="color:white;">Search <i class="icon-material-outline-arrow-right-alt"></i></button>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-8 content-left-offset">

                <h3 class="page-title">Search Results</h3>

                <div class="notify-box margin-top-15">
                    <div class="switch-container">
                        <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
                    </div>

                    <div class="sort-by">
                        <span>Sort by:</span>
                        <select class="selectpicker hide-tick">
                            <option>Relevance</option>
                            <option>Newest</option>
                            <option>Oldest</option>
                            <option>Random</option>
                        </select>
                    </div>
                </div>

                <!-- Freelancers List Container -->
                <div class="freelancers-container freelancers-list-layout compact-list margin-top-35" th:if="${!profiles.empty}">

                    <!--Freelancer -->
                    <div class="freelancer" th:each="profile: ${profiles}">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="single-freelancer-profile.html"><img th:src="${profile.photo}" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="#"><span th:text="${#strings.capitalize(profile.firstName)}"></span> <span th:text="${#strings.capitalize(profile.lastName)}"></span><img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                    <span style="margin-right:2px;" th:each="c: ${profile.crafts}" th:text="${#strings.append(#strings.capitalize(#strings.toLowerCase(c.name)), ', ')}">UI/UX Designer</span>
                                    <!-- Rating -->
                                    <div class="freelancer-rating">
                                        <div class="star-rating" data-rating="" th:data-rating="${profile.rating}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>Location <strong><i class="icon-material-outline-location-on"></i> [[${#strings.capitalize(profile.state.name)}]]</strong></li>
                                    <li>Rate <strong>&#8358;[[${#numbers.formatDecimal(profile.hourlyRate, 1,'COMMA',0,'POINT')}]] / hr</strong></li>
                                    <li>Jobs Done <strong th:text="${#lists.size(profile.jobs.?[completed])}"></strong></li>
                                </ul>
                            </div>
                            <a th:href="@{/profiles/view/{id}(id=${profile.id})}" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->


                </div>
                <!-- Freelancers Container / End -->

                <div class="notify-box margin-top-15" th:if="${profiles.empty}">
                    <div class="switch-container">
                        <span class="switch-text">There are no profiles matching your selected category</span></label>
                    </div>
                </div>


                <!-- Pagination -->
                <div class="clearfix"></div>
                <div th:if="${profiles.totalPages > 1}" class="pagination-container margin-top-40 margin-bottom-0">
                    <nav class="pagination">
                        <ul>
                            <li th:each="i: ${#numbers.sequence(1, profiles.totalPages)}">
                                <a
                                        th:href="@{/profiles/search/{page}(page=${i}, craft=${param.craft}, state=${param.state})}"
                                        th:class="${currentPage == i} ? 'ripple-effect current-page' : 'ripple-effect'">
                                    [[${i}]]
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
                <!-- Pagination / End -->

            </div>
        </div>
    </div>


</section>
</body>
</html>