<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{}, ~{})}" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .settings-form{
            width: 100%;
        }
    </style>
</head>
<body>
<section>
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Edit a Category</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li>Edit a Category</li>
            </ul>
        </nav>
    </div>

    <!-- Row -->
    <div class="row">
        <form method="post" th:object="${category}" th:action="@{/categories/edit}" class="settings-form">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-location-on"></i> Edit Category</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">

                            <div class="col-xl-6">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="submit-field">
                                    <h5>Name</h5>
                                    <input th:field="*{name}" type="text" class="keyword-input with-border" placeholder="Category"/>
                                    <span class="validationError error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <button href="#" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Edit
                    Category
                </button>
            </div>
        </form>
    </div>
    <!-- Row / End -->
</section>
</body>
</html>