<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/site_layout :: layout(~{::title}, ~{::style}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>

    </style>
</head>
<body>
<section>
    <!-- Page Content
================================================== -->
    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->

    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-3">


                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>We're glad to see you again!</h3>
                        <span>Don't have an account? <a th:href="@{/register}">Sign Up!</a></span>
                    </div>

                    <div th:if="${param.error}" class="notification error closeable">
                        <p>Incorrect username or password</p>
                        <a class="close" href="#"></a>
                    </div>

                    <div th:if="${param.logout}" class="notification success closeable">
                        <p>You have logged out successfully</p>
                        <a class="close" href="#"></a>
                    </div>

                    <!-- Form -->
                    <form method="post" id="login-form" th:action="@{/login}">
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" class="input-text with-border" name="username" id="emailaddress" placeholder="Email Address" required/>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
                        </div>
                        <a href="#" class="forgot-password">Forgot Password?</a>
                    </form>

                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>

                    <!-- Social Login -->
                    <div class="social-login-separator"><span>or</span></div>
                    <div class="social-login-buttons">
                        <a th:href="@{/oauth2/authorization/facebook}" class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</a>
                        <a th:href="@{/oauth2/authorization/google}" class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->
</section>
</body>
</html>