<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{}, ~{})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <style>
        section{

        }
    </style>
</head>
<body>
<section>
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Post a Job</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Post a Project</li>
            </ul>
        </nav>
    </div>

    <!-- Row -->
    <div class="row">
        <form method="post" enctype="multipart/form-data" th:object="${project}" th:action="@{/projects/edit}">
            <input type="hidden" th:field="*{id}">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Project Submission Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Title</h5>
                                    <input type="text" th:field="*{shortDescription}" class="with-border" >
                                    <span class="validationError error" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">short description error</span>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Date</h5>
                                    <input type="date" th:field="*{date}" class="with-border" pattern="yyyy-MM-dd">
                                    <span class="validationError error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date error</span>
                                </div>
                            </div>

                            <div class="col-xl-4">
                            </div>
                            <!--<div class="col-xl-4">
                              <div class="submit-field">
                                <h5>Job Category</h5>
                                <select class="selectpicker with-border" data-size="7" title="Select Category">
                                  <option>Accounting and Finance</option>
                                  <option>Clerical & Data Entry</option>
                                  <option>Counseling</option>
                                  <option>Court Administration</option>
                                  <option>Human Resources</option>
                                  <option>Investigative</option>
                                  <option>IT and Computers</option>
                                  <option>Law Enforcement</option>
                                  <option>Management</option>
                                  <option>Miscellaneous</option>
                                  <option>Public Relations</option>
                                </select>
                              </div>
                            </div>-->

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Location</h5>
                                    <div class="input-with-icon">
                                        <div id="autocomplete-container">
                                            <select th:field="*{state}" class="selectpicker with-border" data-size="7" title="Select State">
                                                <option th:each="state: ${states}" th:value="${state.id}" th:text="${#strings.capitalize(#strings.toLowerCase(state.name))}"></option>
                                            </select>
                                        </div>
                                        <i class="icon-material-outline-location-on"></i>
                                        <span class="validationError error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">state error</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Salary</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input th:field="*{budgetMinimum}" class="with-border" type="text" placeholder="Min">
                                                <i class="currency">NGN</i>
                                                <span class="validationError" th:if="${#fields.hasErrors('budgetMinimum')}" th:errors="*{budgetMinimum}">budget Minimum error</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="input-with-icon">
                                                <input th:field="*{budgetMaximum}" class="with-border" type="text" placeholder="Max">
                                                <i class="currency">NGN</i>
                                                <span class="validationError" th:if="${#fields.hasErrors('budgetMaximum')}" th:errors="*{budgetMaximum}">budget Maximum error</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-xl-4">
                              <div class="submit-field">
                                <h5>Tags <span>(optional)</span>  <i class="help-icon" data-tippy-placement="right" title="Maximum of 10 tags"></i></h5>
                                <div class="keywords-container">
                                  <div class="keyword-input-container">
                                    <input type="text" class="keyword-input with-border" placeholder="e.g. job title, responsibilites"/>
                                    <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                  </div>
                                  <div class="keywords-list">--><!-- keywords go here --><!--</div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>-->
                            <div class="col-xl-4">
                            </div>

                            <div class="col-xl-8">
                                <div class="submit-field">
                                    <h5>Job Description</h5>
                                    <textarea th:field="*{longDescription}" cols="30" rows="5" class="with-border"></textarea>
                                    <span class="validationError" th:if="${#fields.hasErrors('longDescription')}" th:errors="*{longDescription}">long Description error</span>
                                    <div class="uploadButton margin-top-30">
                                        <input th:field="*{files}" class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple/>
                                        <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                        <span class="uploadButton-file-name">Images or documents that might be helpful in describing your job</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <button class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Update Project</button>
            </div>
        </form>
    </div>
    <!-- Row / End -->


</section>
</body>
</html>