<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{}, ~{})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List Projects</title>
  <style>
        section{

        }
    </style>
</head>
<body>
<section>
  <!-- Dashboard Headline -->
  <div class="dashboard-headline">
    <h3>Manage Projects</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li>Manage Projects</li>
      </ul>
    </nav>
  </div>

  <!-- Row -->
  <div class="row">

    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box margin-top-0">
        <div class="notify-box margin-top-15 headline" th:if="${page.content.empty}">
          <div class="switch-container">
            <span class="switch-text">No projects available</span></label>
          </div>
        </div>
        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-business-center"></i> My Project Listings</h3>
        </div>

        <div class="content">
          <ul class="dashboard-box-list" th:if="${!page.content.empty}">
            <li th:each="project: ${page.content}">
              <!-- Job Listing -->
              <div class="job-listing">
                <!-- Job Listing Details -->
                <div class="job-listing-details">
                  <!-- Details -->
                  <div class="job-listing-description">
                    <h3 class="job-listing-title"><a href="#" th:text="${project.shortDescription}"></a> <span class="dashboard-status-button green">Pending Verification</span></h3>

                    <!-- Job Listing Footer -->
                    <div class="job-listing-footer">
                      <ul>
                        <li><i class="icon-material-outline-date-range"></i><span th:text="|Posted on ${#temporals.format(project.createdAt, 'dd MMMM, yyyy')}|"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div class="buttons-to-right always-visible">
                <a th:href="@{/projects/{id}(id=${project.id})}" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> View Details</a>
                <a th:href="@{/projects/edit/{id}(id=${project.id})}" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                <a th:href="@{/projects/delete/{id}(id=${project.id})}" onclick="if(!confirm('Are you sure you want to delete this project?')) event.preventDefault()" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top" id="delete-project"><i class="icon-feather-trash-2"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Pagination -->
      <div class="clearfix" th:if="${page.totalPages > 1}"></div>
      <div class="pagination-container margin-top-40 margin-bottom-0">
        <nav class="pagination">
          <ul>
            <li th:each="i: ${#numbers.sequence(1, page.totalPages)}">
              <a
                      th:href="@{/projects/page/{page}(page=${i})}"
                      th:class="${currentPage == i} ? 'ripple-effect current-page' : 'ripple-effect'">
                [[${i}]]
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="clearfix"></div>
      <!-- Pagination / End -->

    </div>
  </div>
  <!-- Row / End -->
</section>
</body>
</html>