<!DOCTYPE html>
<html th:replace="~{layouts/admin_layout :: layout(~{::title}, ~{::style}, ~{::section}, ~{::script}, ~{::link})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"/>
  <style>
        .basic-table{
            margin-top: 1px;
        }
        .delete-form{
            float: left;
            margin-right: 5px;
        }
    </style>

</head>
<body>

<section>

  <!-- Dashboard Headline -->
  <div class="dashboard-headline">
    <h3>Bookmarks</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li>Bookmarks</li>
      </ul>
    </nav>
  </div>

  <!-- Row -->
  <div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box">

        <!-- Headline -->
        <div class="headline">
          <h3><i class="icon-material-outline-face"></i> Bookmarked Artisans</h3>
        </div>

        <div th:if="${message}" class="notification success closeable">
          <p th:text="${message}"></p>
          <a class="close" href="#"></a>
        </div>

        <div class="content">
          <ul class="dashboard-box-list" th:if="${!bookmarks.empty}">
            <li th:each="bookmark: ${bookmarks}">
              <!-- Overview -->
              <div class="freelancer-overview">
                <div class="freelancer-overview-inner">

                  <!-- Avatar -->
                  <div class="freelancer-avatar">
                    <div class="verified-badge"></div>
                    <a href="#"><img src="@{/images/user-avatar-big-02.jpg}" alt=""></a>
                  </div>

                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4><a th:href="@{/profiles/{id}(id=${bookmark.artisan.id})}">[[${bookmark.artisan.firstName}]] [[${bookmark.artisan.lastName}]] <img class="flag" th:src="@{/images/flags/de.svg}" alt="" title="Germany" data-tippy-placement="top"></a></h4>
                    <span th:text="${bookmark.artisan.shortDescription}"></span>
                    <!-- Rating -->
                    <div class="freelancer-rating">
                      <div class="star-rating" data-rating="4.2"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div class="buttons-to-right">
                <form method="post" th:action="@{/bookmarks/delete}">
                  <input type="hidden" name="id" th:value="${bookmark.id}">
                  <button href="#" class="button red ripple-effect ico" title="Remove" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></button>
                </form>
              </div>
            </li>

          </ul>
        </div>
        <!-- Pagination -->
        <div class="clearfix"></div>
        <div th:if="${bookmarks.totalPages > 1}" class="pagination-container margin-top-40 margin-bottom-0">
          <nav class="pagination">
            <ul>
              <li th:each="i: ${#numbers.sequence(1, bookmarks.totalPages)}">
                <a
                        th:href="@{/bookmarks/page/{page}(page=${i})}"
                        th:class="${currentPage == i} ? 'ripple-effect current-page' : 'ripple-effect'">
                  [[${i}]]
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="clearfix"></div>
        <!-- Pagination / End -->
      </div>
    </div>

  </div>
  <!-- Row / End -->


</section>
<script>

</script>
</body>
</html>