<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Town</title>
</head>
<body>
<section>
    <h2>Create Town</h2>
    <form method="post" action="#" th:action="@{/towns/create}" th:object="${town}">
        <div class="mb-3">
            <label class="form-label">State</label>
            <select th:field="*{state}" class="form-control">
                <option th:each="s: ${states}" th:value="${s.id}" th:text="${s.name}">
                </option>
            </select>
            <span class="validationError" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">state error</span>
        </div>
        <div class="mb-3">
            <label class="form-label">Lga</label>
            <select th:field="*{lga}" class="form-control">
                <option th:each="l: ${lgas}" th:value="${l.id}" th:text="${l.name}">
                </option>
            </select>
            <span class="validationError" th:if="${#fields.hasErrors('lga')}" th:errors="*{lga}">lga error</span>
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
            <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
        </div>
        <div>
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
</section>
</body>
</html>